.top-bar{
    background-color: grey;
    height: 35px;

}
header{
   background-color: black;
     height: 150px;

}
body {
  margin: 0;

}
.font{
    font-family: sans-serif;
    color: white;
    font-size: 14px;
}
nav {
    background-color: black;
    height: 60px;
    margin: 0;

}
.paragraf{
display: flex;
justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}
.Picture1{
    width: 100%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 40px;

}
.Picture2{
    width: 99%;
    margin-left: 0;
}
.Picture3{
    width: 99%;
    margin-left: 10px;
}
.container1{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
 
   
}
.photo-bar{
    width: 60%;
    padding-left: 87px;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.text{
    font-family: sans-serif;
    text-align: center;
    padding-left: 60px;
}
.image{
    display: flex;
    flex-direction: row;
    width: 100%;

}
.container5{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #F4F2F0;
    width: 100%;
    height: 580px;
}
.image1 {
    
    width: 90%;
    padding-top: 25%;
    padding-bottom: 0;
    padding-left: 5%;

}
.text1{
    font-family: sans-serif;
    text-align: center;
   
}
.container2{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    border: solid black 1px;

}
.image2{
    width:100%;
    height: 300px;

}