.top-bar{
    background-color: grey;
    height: 35px;

}
header{
   background-color: black;
     height: 300px;

}
body {
  margin: 0;

}
.font{
    font-family: sans-serif;
    color: white;
    font-size: 14px;
}
nav {
    background-color: black;
    height: 60px;
    margin: 0;

}
.paragraf{
display: flex;
justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
}
