.top-bar{
    border: 2px solid black;
    background-color: grey;
    height: 35px;

}
header{
    border: 2px solid black;
    height: 300px;

}
body{
    border: 1px solid black;
  margin: 0;

}
.font{
    font-family: sans-serif;
    color: white;
    font-size: 14px;
}
nav{
    border: 2px solid black;
    background-color: black;
    height: 60px;
    margin: 0;

}